
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>HACK@BVP</h1>
    <p>
      You have successfully registered for the Hackathon at HACK@BVP<br>
    </p>
    <p>
      Shortlisted people will get confirmation mails to the Hackathon
    </p>
    <p>Thanks for Registering and have a great day!</p>
  </body>
</html>