/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
	position: relative;
	background: linear-gradient(to bottom, #232526, #414345);
}

*{
	box-sizing: border-box;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


@media screen and (max-width: 1024px){

	.wrapper{
		width: 94%;
	}

	.wrapper>.container-fluid>#header{
		padding-top: 50%;
    	padding-bottom: 44%;
	}

	.wrapper>.container-fluid>#header>img{
		width: 50vw;
	}

	.wrapper>.container-fluid>#header>h1{
		font-size: 4em;
	}

	.wrapper>.container-fluid>#header>p{
		font-size: 1.5em;
	}


	.wrapper .container-fluid main .card{
		padding: 0;
	}

	#bs-example-navbar-collapse-1 > ul{
		display: flex;
		flex-direction: column;
		margin: 0;
	}



	.wrapper #developers span#developers-inner-span{
		flex-direction: column;
		margin-left: 6px;
	}

	.wrapper #developers span#developers-inner-span .developers-card {
		width: 90%;
		margin: 0 auto;
		margin-bottom: 10px;
	}

	.wrapper #developers span#developers-inner-span .developers-card img{
		width: 200px;
    	height: 200px;
	}

	.wrapper .container-fluid main #about span{
		width: 100%;
		padding: 18px;
	}

	.wrapper .container-fluid main #about{
		flex-direction: column-reverse;
	}

	.wrapper .container-fluid main .card span p{
		font-size: 1.2em;
	}

	.wrapper .container-fluid main #features div{
		flex-direction: column;
	}

	.wrapper #rules>p{
		width: 100%;
	    padding: 18px;
	}

	.wrapper #rules div{
		flex-direction: column-reverse;
	}

	.img-circle{
		width: 200px;
	}

	.wrapper .container-fluid main #features span.icon{
		height: 2em;
    	width: 2em;
	}

	#mobile-nav{
		margin-right: 0;
		margin-left: 0;
	}

	#bs-example-navbar-collapse-1{
		margin-right: 0;
		margin-left: 0;
	}

	#rules > span > div.container > ul > li:nth-child(1) > div.timeline-panel > button{
		width: 100%;
		padding: 6px 0;
	}

	#rules > span > div.container > ul > li:nth-child(1) > div.timeline-panel > a{
		width: 100%;
	    padding: 4px;
	}

	@media (max-width:1024px) and (min-width:767px) {
		#bs-example-navbar-collapse-1 > ul{
			flex-direction: row;
			justify-content:center;
		}
	}

}

@media screen and (max-width: 450px){

		*{
    			::-webkit-scrollbar{
					display:none;
				}		
		}

		#developers{
			width: 99%;
		}

		#developers>span{
			width: 100%;
			margin-right: 10px;
		}

		.wrapper #developers span#developers-inner-span{
			flex-direction: row;
    		overflow: scroll;

		}

		.wrapper #developers span#developers-inner-span .developers-card{
			min-width: 98%;
		}		

		.wrapper #developers span#developers-inner-span > div:nth-child(1){
			margin-left: 98vw;
			margin-right: 14px;
		}

		.wrapper #developers span#developers-inner-span > div:nth-child(1){

		}
	}
	#map {
  height: 400px;
  width: 87%;
  margin-top: -40px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
 }
